#delete{
    font-size: 20px;
    margin-right: 2%;
  }
  #del{
    float:right;
  }
  #like{
    font-size: 10px;
  }
  #dislike{
    font-size: 10px;
  }
  .hate{
    margin-left: 10px;
    background-color: black;
    color: white;
  }
  hr{
    background-color: green;
  }
  #buttons{
    margin-top: 5%;
    margin-bottom: 10%;
  }
  #when{
    float:right;
    font-family: 'Handlee', cursive;
  }