<div class="container">
    <div class="full-width">
        <app-quotes-form (newQuote)="receiveQuote($event)"></app-quotes-form>
        <div class="row">
           
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6" *ngFor="let quote of quotes; let i= index">
                        <div class="col-md-3">
                            <!-- end card -->

                            <div class="card-view">
                                <div class="container">
                                    <a href='#'>
                                        <div class="tag_name ">{{quote.author}}</div>
                                    </a>
                                    <div class="company">
                                        <div class="c_info">
                                            <a href="#" class="c_name">{{quote.title}} </a><br>
                                           
                                            <span id="c_stars" data-star="3"></span>
                                            <div class="c_num">Likes: {{quote.likes}}</div>
                                        </div>
                                        <div class="c_logo">
                                            <app-quote-details bind-quoty='quote' (isRead)='quoteDelete($event,i)'></app-quote-details>
                                            <app-quote-details *ngIf='quote.showInfo' bind-quoty='quote' (isRead)='quoteDelete($event,i)'></app-quote-details>
                                        </div>

                                        <div class="c_content">
                                            <a href='#' class="title">
                                                
                                            </a>
                                            <p class="review">{{quote.quote}}</p>
                                        </div>
                                    </div>
                                    <!-- end .company -->
                                    <div class="user">
                                        <div class="user_info">
                                            <a href="#" class="user_name ">{{quote.datePosted|date:'short'}}</a> 
                                        </div>
                                    </div>
                                    <!-- end .user -->
                                </div>
                                <!-- end .container -->
                            </div>
                            <!-- end card -->

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
