body,
html {
    height: 100%;
}

body {
    font-weight: 500;
    color: white;
}a {
    text-decoration: none;
}
/* ---- Card View ---- */
.card-view {
    background: #fff;
    float: left;
    width: 292px;
    margin: 5px;
}

.container {
    border: 1px solid black;
    padding: 15px;
    background-color: navy;
    width: 100%;
}
/* COMPANY INFO ------------------------ */

.c_logo {
    display: table-cell;
}


.c_info {
    display: table-cell;
    vertical-align: middle;
    padding-top: 5px;
    padding-left: 6px;
    line-height: 18px;
}

.c_name {
    font-size: 20px;
    font-weight: 500;
    color: white;
}
.c_content p {
    line-height: 21px;
}

.c_content .title {
    color:white;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
}











































