<div class="container">
    <h2 class="heading">Add Quote</h2>
    <!-- <hr> -->
    <form>
        <div class="form-group">
          <label for="name">Your Name</label>
          <input type="text" required class="form-control" id="name"  name="name"  minlength="3">
          <div  class="alert alert-danger">
            <div >
                Your name is required.
            </div>
            <div >
              Name is at least 3 characters long.
            </div>
          </div> 
        </div>
        <div class="form-group">
          <label for="name">Quote Tittle</label>
          <input type="text" required class="form-control" id="title"  name="title">
          <div  class="alert alert-danger">
            <div >
                Title is required.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="description">Quote</label>
          <textarea class="form-control" id="quote" rows="2" required  name="quote"></textarea>
          <div  class="alert alert-danger">
            <div >
                Quote can not be empty.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="name">Quote Author</label>
          <input type="text" required class="form-control" id="author" name="author" >
          <div  class="alert alert-danger">
            <div>
                Author Name is required.
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-sm btn-success">Add Quote</button>
    </form>
  </div>
  
