.form-control{
    color: white;
    font-weight: 600;
    background: inherit;
  }
  label{
    color: white;
    font-weight: 600;
  }
  hr{
    width: 50%;
    height: 2px;

  }
  .heading{
    color: white;
    text-align: center;
    padding-top: 2%;
  }
  .container{
    background-color: black;
    border-radius: 2.3px;
    padding-bottom: 10px;
    margin-bottom: 10px;

  }
  .alert{
    display: none;
  }
  .btn{
    background-color: white;
    
  }